[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruuvitag-sensor = "*"
influxdb = "*"
google-cloud-pubsub = "*"
google-cloud-logging = "*"
retrying = "*"
pyyaml = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
